<%# <div>
  <h1 class="font-bold text-4xl">Admin::Dashboard#index</h1>
  <p>Find me in app/views/admin/dashboard/index.html.erb</p>
</div> %>


<div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
  <main>
    <%= yield %>
  </main>
  <%= render "/admin_dashboard/partials/footer" %>
</div>